<footer class="footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6 class="text-center">
          Covid Case Tracker &copy; 2021

          <a target="_blank" href="https://api.covid19india.org/"
            ><img src="../../assets/database.png" alt=""
          /></a>
        </h6>
      </div>
    </div>
  </div>
</footer>
