footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #293c68;
  color: white;
}

ul {
  display: inline;
}

ul li {
  display: inline;
  margin: 0.5rem;
}

h6 {
  font-weight: bold;
}
