<div class="table-responsive">
  <table class="table table-striped styled-table">
    <thead>
      <tr>
        <th scope="col" (click)="sortState(data.stateSort)">
          State/UT
          <img
            src="{{
              data.stateSort
                ? '../../assets/up-arrow.png'
                : '../../assets/down-arrow.png'
            }}"
            alt=""
          />
        </th>
        <th scope="col" (click)="onSort('confirmed', data.confirmedSort)">
          Confirmed
          <span
            ><img
              src="{{
                data.confirmedSort
                  ? '../../assets/up-arrow.png'
                  : '../../assets/down-arrow.png'
              }}"
              alt=""
          /></span>
        </th>
        <th scope="col" (click)="onSort('active', data.activeSort)">
          Active
          <img
            src="{{
              data.activeSort
                ? '../../assets/up-arrow.png'
                : '../../assets/down-arrow.png'
            }}"
            alt=""
          />
        </th>
        <th scope="col" (click)="onSort('recovered', data.recoveredSort)">
          Recovered
          <img
            src="{{
              data.recoveredSort
                ? '../../assets/up-arrow.png'
                : '../../assets/down-arrow.png'
            }}"
            alt=""
          />
        </th>
        <th scope="col" (click)="onSort('deceased', data.deceasedSort)">
          Deceased
          <img
            src="{{
              data.deceasedSort
                ? '../../assets/up-arrow.png'
                : '../../assets/down-arrow.png'
            }}"
            alt=""
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of Object.keys(covidData)">
        <th scope="row">
          {{ covidData[key].state }}
        </th>
        <th scope="row">
          {{ covidData[key].total.confirmed | number }}
        </th>
        <th scope="row">
          {{ covidData[key].total.active | number }}
        </th>
        <th scope="row">
          {{ covidData[key].total.recovered | number }}
        </th>
        <th scope="row">
          {{ covidData[key].total.deceased | number }}
        </th>
      </tr>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshCountries()"
    aria-label="Default pagination"
  ></ngb-pagination>
</div>
