<div class="row">
  <div
    class="col-lg-3 col-6 col-sm-6 col-md-6 mt-2"
    *ngFor="let keys of Object.keys(caseSummary)"
  >
    <div class="card bg-boxshadow bg-boxshadow-zoom bg-boxshadow-zoom">
      <div class="card-body">
        <h6 class="card-title">
          <img src="../../assets/confirmation.png" alt="Icon" />
          {{ keys | titlecase }}
        </h6>
        <h5 class="card-subtitle mb-2">
          {{ caseSummary[keys] | number }}
        </h5>
      </div>
    </div>
  </div>
</div>
