<app-header></app-header>
<div class="container mt-5">
  <app-card></app-card>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- <div class="col-lg-12"><h3>State wise Data</h3></div> -->
    <div class="col-lg-6">
      <app-table></app-table>
    </div>
    <div class="col-lg-6">
      <app-pi-chart></app-pi-chart>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
