/* You can add global styles to this file, and also import other style files */
.bg-boxshadow {
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}
.bg-boxshadow-zoom:hover {
  -webkit-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  -moz-box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
